{% extends 'base.html' %}
{% load humanize %}

{% block title %}상세페이지{% endblock title %}

{% block contents %}
{% comment %} <h1 class="상세페이지">상세페이지</h1> {% endcomment %}

<div class="product_detail_list">
    <div class="detail_photo_box">
        <img src="{{product.photo_set.first.image.url}}" alt="{{product.name_en}}" class="detail_photo"/>
    </div>   
    <div class="product_detail_info">
        <p class="product_detail_brand">{{product.brand}}</p>
        <p class="product_detail_name">{{product.name_en}}</p>
        <p class="product_detail_name" style="color: gray">{{product.name_ko}}</p>
        <div class="product_detail_box" style="border-bottom: 1px solid lightgray;">
            <p>사이즈</p>
            <p class="product_detail_ps">모든사이즈</p>
            <button class="btn">사이즈보기버튼</button>
        </div>
        <div class="product_detail_box">
            <p>최근거래가</p>
            <p class="product_detail_ps">{{product.released_price|intcomma}}원</p>
        </div>
        {% include 'products/item_price.html' with product=product%}
        <div class="interested_product">관심상품</div>
        {% include 'products/item_info.html' with product=product%}
        {% include 'products/delivery_info.html' with product=product %}
        {% include 'products/detail_check.html' with product=product %}
    </div>
</div>
{% endblock contents %}
