.style_list {
  margin: 0px auto;
  width: 90%;
  display: flex;
  column-gap: 20px;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px; */
  background-color: rgb(210, 126, 16);
}

.style {
  height: fit-content;
  width: 24%;
  /* grid-row-start: 1; */
}
.photo_user {
  width: 100%;
  object-fit: cover;
  border-radius: 5%;
}
.user {
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 0px;
}
.comment {
  /* background-color: antiquewhite; */
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 14px;
  border-bottom: solid 1px black;
}
.product_name {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}
.number_tag {
  font-size: 15px;
  margin: 5px 0px;
  /* background-color: blanchedalmond; */
}

.product_list {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.photo {
  width: 30%;
  object-fit: cover;
  border-radius: 15%;
}
.product_info {
  width: 70%;
  margin-left: 10px;
  font-size: 15px;
}
