{% extends 'base.html' %}
{% block title %}SIGNUP{% endblock title %}

{% block contents %}
<h1>회원가입페이지얌</h1>
<form method="post" action="{% url "users:signup" %}">
    {% csrf_token %}
    {% comment %} <input type="email" name="email" placeholder="예)  kream@kream.co.kr">
    <input type="password" name="password"> {% endcomment %}
    {% comment %} {{form.as_p}} {% endcomment %}
    {% for field in form %}
    <p>
        {{field.label}}:{{field}}
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="text-red-700 font-medium text-sm">{{error}}</span>
            {% endfor %}
        {% endif %}
    </p>
    {% endfor %}
    <input type="submit" value="회원가입">
    {% comment %} <input type="date" name="date"> {% endcomment %}
    {% comment %} <button type="submit">로그인</button>는 11줄과 같은 의미{% endcomment %}
</form>
{% endblock contents %}